/* Ipad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}
/* Desktop No retina */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .cakesCustBtn {
    margin: 5px 0 0 0px !important;
  }
  .cakesCustBar {
    margin-top: 1px !important;
  }
  .cakesGridAbove-1 {
    height: 50px !important;
  }
}
.cakesPleaseWait{
  margin: 25vh auto;
}
.cakesCustBtn {
  position: fixed;
  margin-top: -3px;
  z-index: 2;
  cursor: pointer;
}
.cakesShowCustBar {
  display: block !important;
}
.cakesHideCustBar {
  display: none !important;
}
.cakesCustBar {
  margin-top: -3px;
  background-color: rgb(255, 232, 232);
  height: fit-content;
  padding: 0 0 10px 0;
  position: fixed;
  z-index: 1;
}
.cakesSliderDiv {
  width: 35vh;
  margin: 0 auto;
  padding: 65px 0;
  height: 50px;
}
.cakesSubCatsDiv {
  margin: 45px 0 0 0;
  padding: 0 5px;
}
.cakesSearchBDiv {
  margin: 10px auto 0 auto;
  width: 317px;
}
.itemsNoMatch {
  margin: 25vh auto;
}
.cakesGridAbove-1 {
  height: 40px;
}
.cakesGridList {
  background-color: red;
}
